@use "/src/scss" as *;

:root {
  --auth-bg: linear-gradient(180deg, #002A61 0%, #200061 60.6%, #000000 100%);
  --auth-inp-bg: #FFFFFF2E;
  --auth-inp-border: #FFFFFF33;
  --auth-btn-bg: #ffffff33;
  --auth-btn-color: #fff;
}

.light {
  --auth-bg: var(--bg-color);
  --auth-inp-bg: #fff;
  --auth-inp-border: #D2E6F5;
  --auth-btn-bg: #D5EEFF;
  --auth-btn-color: #0095FF;
}

.auth {
  min-height: 103vh;
  padding-block: 2rem 3rem;
  background: var(--auth-bg);

  &__titles {
    text-align: center;

    .logo {
      margin-bottom: 1rem;
    }

    .title {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 1rem;
    }
  }

  .inp-mask {
    height: 43px;
    font-size: 15px;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid var(--auth-inp-border) !important;
    outline: none;
    color: var(--text-color);
    background: var(--auth-inp-bg) !important;
  }

  .reset {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 1rem;
    color: var(--text-color);
  }

  .btns {
    margin-top: 20px;

    .btn {
      width: 100%;
      height: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      padding: 14px 1rem;
      margin-bottom: 1rem;
      border-radius: 12px;
      border: none;
      color: var(--auth-btn-color);
      background: var(--auth-btn-bg) !important;

      &.submit {
        color: #fff;
        background: $main-color !important;
      }

      i {
        position: absolute;
        right: 1rem;
      }
    }
  }

  .ant-form {
    .ant-form-item {
      margin-bottom: 12px;
    }

    .ant-form-item-label label {
      color: var(--text-color);
    }

    .ant-input-outlined {
      border: 1px solid var(--auth-inp-border);
      background: var(--auth-inp-bg);
    }
    .ant-input {
      background: transparent !important;

      &::placeholder {
        height: 12px;
      }
    }
    .ant-input-status-error {
      background: unset !important;
    }

    .anticon {
      color: var(--text-color);
    }
  }
}

.sms {

  &__head {
    margin-bottom: 2rem;

    .navigate i {
      font-size: 22px;
      color: var(--text-color);
    }

    .title {
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__body {

    .phone {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 1rem;
    }
    .desc {
      line-height: 1.3;
      color: #FFFFFFCC;
      margin-bottom: 40px;
    }

    .ant-otp {
      width: 100%;
      column-gap: 10px;
      margin-bottom: 30px;

      .ant-input {
        border-color: #FFFFFF33;
        background: var(--auth-inp-bg) !important;
      }
    }
  }
}