@use '/src/scss' as *;

.home {
  background: linear-gradient(180deg,#102B52 0%, #002A61 10%, #200061 60%, #000000 100%);

  .container {
    padding: 0;
  }

  &__head {
    padding-block: 12px 20px;
    padding-inline: 1rem;

    .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 1rem;
      border-radius: 15px;
      background: #FFFFFF1A;

      i {
        color: #838BA9;
      }

      .row {
        i {
          font-size: 22px;
          color: #fff;
        }
        span {
          font-weight: 500;
          font-size: 17px;
          color: #fff;
        }
      }
    }
  }

  &__body {
    padding-inline: 1rem;
    padding-block: 1rem;

    .ant-carousel {
      margin-bottom: 25px;

      .item {
        padding-inline: 5px;

        .banner {
          width: 100%;
          border-radius: 20px;
        }
      }
    }

    .how {

      &__titles {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 1rem;

        i {
          font-size: 22px;
        }
      }

      &__iframe {
        width: 100%;
        height: unset;
        border-radius: 15px;
        border: 1px solid #373841;
      }
    }
  }
}