@use '/src/scss' as *;

.home {

  .container {
    padding: 0;
  }

  &__head {
    padding-block: 12px 20px;
    padding-inline: 1rem;
    margin-bottom: 25px;
    border-radius: 0 0 25px 25px;
    background: linear-gradient(180deg, #102B52 0%, #1A245B 47.6%, #1A3065 100%);

    .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 1rem;
      border-radius: 15px;
      background: #303A6C;

      i {
        color: #838BA9;
      }

      .row {
        i {
          font-size: 22px;
          color: #fff;
        }
        span {
          font-weight: 500;
          font-size: 17px;
          color: #fff;
        }
      }
    }
  }

  &__body {
    padding-inline: 1rem;
    padding-bottom: 1rem;

    .ant-carousel {
      margin-bottom: 25px;

      .item {
        position: relative;
        padding: 12px 1rem;
        border-radius: 15px;
        background: linear-gradient(270deg, #00FFFF 0%, #295CDE 100%);

        .titles {
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 10px;
          color: #fff;

          span {
            font-weight: 600;
            font-size: 16px;
            padding: 1px 6px;
            border-radius: 25px;
            color: #222;
            background: #FAC30E;
          }
        }

        .sub {
          font-weight: 500;
          font-size: 16px;
          color: #fff;
        }

        .img {
          position: absolute;
          bottom: 0;
          right: 0;
          border-radius: 0 0 15px 0;
        }
      }
    }

    .how {

      &__titles {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 1rem;

        i {
          font-size: 22px;
        }
      }

      &__iframe {
        width: 100%;
        height: unset;
        border-radius: 15px;
        border: 1px solid #373841;
      }
    }
  }
}