@use "/src/scss" as *;

:root {
  --history-bg: linear-gradient(180deg, #102B52 0%, #200061 47.6%, #000000 100%);
  --history-bg-head: linear-gradient(180deg, #102B52 0%, #112853 100%);
  --history-head-card-bg: #272F71;
  --history-month-bg: #2B2770;
  --history-item-border: #301A5D;
  --history-drawer-dots: #323F59;
  --monitoring-summary: #2C1A51;
}
.light {
  --history-bg: linear-gradient(180deg, #F6FAFF 0%, #E8F7FF 73.49%, #F6FAFF 100%);
  --history-bg-head: linear-gradient(180deg, #F9F9F9 0%, #f3faff 44%, #e9f0f5 100%);
  --history-head-card-bg: #fff;
  --history-month-bg: #fff;
  --history-item-border: #D2E6F5;
  --history-drawer-dots: #ccd9ec;
  --monitoring-summary: #fff;
}

.history {
  padding-block: 0 120px;
  background: var(--history-bg);

  &__head {
    position: sticky;
    top: -2px;
    width: calc(100% + 2rem);
    padding-top: 1rem;
    padding-inline: 1rem;
    margin-left: -1rem;
    z-index: 10;
    background: var(--history-bg-head);

    .title {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 1rem;
    }

    .statistics {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding-bottom: 1rem;

      &__item {
        padding: 10px;
        border-radius: 12px;
        background: var(--history-head-card-bg);

        .sub {
          font-size: 12px;
          margin-bottom: 4px;
          color: #A9ACC6;
        }

        .count {
          font-weight: 500;
        }
      }
    }
  }

  &__body {

    .titles {
      width: calc(100% + 2rem);
      padding: 8px 1rem;
      margin-left: -1rem;
      background: var(--history-month-bg);

      &.margin {
        margin-bottom: 2px;
      }

      .month {
        font-size: 16px;
        color: #9593B7;
      }
      .count {
        font-weight: 600;
        font-size: 16px;
        color: var(--text-color);
      }
    }

    .list {

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;
        cursor: pointer;

        &:not(:last-child) {
          border-bottom: 1px solid var(--history-item-border);
        }

        .imgs {
          width: 60px;
          height: 50px;
          border-radius: 10px;
          border: 1px solid #1A324C;
          background: linear-gradient(180deg, #011D42 0%, #002061 47.6%, #000000 100%);

          img {
            width: 32px;
            height: 40px;
            object-fit: contain;
          }
        }

        .txt {
          display: block;
          word-break: break-word;
          margin-bottom: 2px;
        }
        .date {
          font-size: 12px;
          color: #A39CC0;
        }

        .flexed {
          display: flex;
          flex-flow: column;
          align-items: flex-end;
        }

        .count {
          display: block;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 5px;
        }
        .status {
          font-size: 12px;
          padding: 3px 10px;
          color: #fff;
        }
      }
    }

    .ant-pagination {
      justify-content: flex-end;
      align-items: center;
      padding-top: 10px;

      .ant-pagination-item {
        background: var(--modal-bg2);

        a {
          color: var(--text-color);
        }
      }
      .ant-pagination-item-active a {
        color: $main-color;
      }

      .anticon {
        color: #b3aadc;
      }

      .ant-pagination-total-text {
        color: #b3aadc;
      }

      .ant-select-selector {
        border: none;
        color: var(--text-color);
        background: var(--modal-bg2);
      }
    }
  }
}

.ant-select-dropdown {
  background: var(--modal-bg2);

  .ant-select-item-option {
    color: var(--text-color);

    &.ant-select-item-option-active, &.ant-select-item-option-selected {
      background: #b3aadc;
    }
  }
}

.check-drawer {

  .titles {
    margin-bottom: 1rem;

    .title {
      font-weight: 500;
      font-size: 20px;
    }
    .status {
      font-size: 16px;
      color: #fff;
    }
  }

  .list {
    margin-bottom: 1rem;

    &__item {
      padding-block: 10px;

      &:not(:last-child) {
        border-bottom: 1px dashed var(--history-drawer-dots);
      }

      .txt {
        font-size: 14px;
        margin-bottom: 4px;
        color: #A4AAB5;
      }

      .value {
        display: block;
      }

      .count {
        display: block;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }
}

.monitoring {
  min-height: 103vh;
  padding-block: 25px;
  background: var(--bg-color);

  &__head {
    .titles {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 1rem;

      i {
        font-size: 24px;
        color: var(--text-color);
      }
    }

    .ant-segmented {
      width: 100%;
      display: block;
      margin-bottom: 1rem;
      background: var(--img-card-bg);

      &-item {
        border-radius: 10px;
      }
      .ant-segmented-item-label {
        font-weight: 500;
        padding: 2px 12px;
      }
    }

    .select {
      width: 100%;
      margin-bottom: 1rem;

      .ant-select-selector {
        border-color: var(--bg-nav-modal-border);
        background: var(--img-card-bg);
      }

      .ant-select-arrow {
        color: #fff;
      }
    }
  }

  &__body {

    .summary {
      padding: 10px;
      margin-block: 1rem;
      border-radius: 12px;
      background: var(--monitoring-summary);

      .txt {
        color: #ABA3B9;
      }
      .value {
        font-weight: 500;
      }
    }

    .list {

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 10px;

        &:not(:last-child) {
          border-bottom: 1px dotted #20192F;
        }
        
        .percent {
          width: 40px;
          height: 28px;
          display: grid;
          place-items: center;
          font-size: 14px;
          border-radius: 20px;
          color: #fff;
          background: linear-gradient(145deg, #0f409a, #4DA3E6);
        }

        .value {
          font-weight: 500;
        }
      }
    }
  }
}