@use '/src/scss' as *;

.header {
  padding: 15px 0;
  background: #102B52;

  .logo {
    width: 123px;
    height: 54px;
  }

  .balance {
    span {
      font-weight: 500;
      margin-left: 8px;
    }
    i {
      bottom: 1px;
    }
  }

  .bar {
    i {
      font-size: 24px;
      color: #fff;
    }
  }

  .monitoring-link {

    i {
      font-size: 22px;
      color: #fff;
    }
  }
}

.header-modal {

  .ant-modal {
    top: 40px;
    left: 25px;
  }

  .ant-modal-content {
    padding: 1rem 1rem 5px;
    border-radius: 12px;
    border: 1px solid #4A4D61;
    background: #1D213A;
  }

  .imgs {
    margin-bottom: 1rem;

    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      object-fit: contain;
    }
    
    .name {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
    }
    .tel {
      color: #A5A6B0;
    }
  }

  .list {

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 12px;
      
      &:not(:last-child) {
        border-bottom: 1px solid #33374D;
      }

      i {
        color: #8E909C;
      }
      span {
        font-size: 14px;
      }

      .txt {
        font-size: 14px;
        color: #8E909C;
      }
      .icon {
        justify-items: end !important;
        font-size: 14px !important;
      }

      .align-center i {
        display: grid;
        place-items: center;
        width: 22px;
        font-size: 18px;
      }
    }
  }
  
  .ant-switch-checked, .ant-switch-disabled {
    background: #32B141 !important;
  }
}

.header-drawer {
  .ant-drawer-content-wrapper {
    height: fit-content !important;
  }

  .ant-radio-group {
    display: flex;
    flex-flow: column;
    gap: 12px;
  }
  .ant-radio-wrapper {
    flex-flow: row-reverse;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
    border-radius: 12px;
    border: 1px solid #4A4D61;
    background: #323F59;

    &::after {
      content: none;
    }
  }
  .ant-radio-wrapper-checked {
    background: #0095FF4D;
    border-color: $main-color;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  .cards-list {


    .item {
      font-size: 18px;
      color: #fff;

      img {
        width: 28px;
        height: 28px;
      }
      i {
        font-size: 20px;
        color: #fff;
      }
    }
  }
}