@use "/src/scss" as *;

:root {
  --p404-bg: linear-gradient(180deg, #102B52 0%, #002A61 15%, #200061 70.6%, #000000 100%);
  --p404-svg: #ffffff30;
}
.light {
  --p404-bg: var(--bg-color);
  --p404-svg: #add7ec;
}

.p404 {
  min-height: calc(103vh - 164px);
  display: grid;
  place-items: center;
  background: var(--p404-bg);

  .ant-result-title {
    color: var(--text-color);
  }
  .ant-result-subtitle {
    color: var(--text-color);
  }

  .ant-result-icon {
    svg g g path {
      fill: var(--p404-svg);
    }
  }
}