@use "/src/scss" as *;

:root {
  --nav-bg: #1A1A1E;
  --nav-icon-color: #8C8C8E;
}

.light {
  --nav-bg: #fff;
  --nav-icon-color: #85A4B9;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  max-width: 600px;
  width: 100%;
  padding: 16px 8px 20px;
  margin: 0 auto;
  border-radius: 22px 22px 0 0;
  background: var(--nav-bg);
  box-shadow: 0px -5px 40px -5px #33333395;

  @include breakpoint-down(310px) {
    padding-inline: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .item {

      &__link {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        color: var(--nav-icon-color);

        .txt {
          font-size: 12px;
          margin-top: 4px;
        }

        svg path {
          fill: var(--nav-icon-color);
        }

        &.active {
          color: var(--text-color);

          path {
            fill: var(--text-color);
          }
          .active {
            fill: $main-color;
          }
        }
      }
    }
  }
}