$font-family: "Nunito", sans-serif;

$main-color: #0095FF;
$secondary-color: #1F0261;
$txt-color: #fff;
$brown: #323F59;
$bg-content1: #1C2A47;
$bg-content2: #141D32;
$bg-color: #F1F2F4;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$border-radius: 100px;
$phone-width: 400px;
$mobile-width: 600px;
$tablet-width: 1024px;